.register_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
}

.register_help_container {
    width: 100%; /* Define a largura para ocupar 100% do espaço disponível em telas menores */
    max-width: 50%; /* Define uma largura máxima para o container */
    padding: 0 20px; /* Adiciona um espaço à esquerda e à direita para melhorar a aparência em telas menores */
}

.register_help_container_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
}

.register_help_container p {
    font-family: Times, serif;
    font-weight: 700;
    color: rgb(3, 26, 54);
    line-height: 1.2;
}

.about_img {
    width: 100%;
    height: auto; /* Ajusta automaticamente a altura para manter a proporção */
}

.form_container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupa 100% do espaço disponível em telas menores */
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Adicione media queries para ajustar os estilos com base no tamanho da tela */
@media screen and (max-width: 768px) {
    .register_help_container {
        max-width: 100%; /* Ocupa 100% do espaço disponível em telas menores */
        padding: 0; /* Remove o espaço à esquerda e à direita */
    }
    .register_container{
        flex-direction: column;
    }
    .register_help_container_2 {
        font-size: 20px; /* Diminui o tamanho da fonte em telas menores */
    }
}
