.footer_container {
    width: 100%;
    height: 200px;
    background-color: #EEEEEE;
}

.footer_container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .footer_container div{
        flex-direction: column;
    }
}